// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 50px;
}
.text-inline {
  display: inline;
}
.letter {
  font-size: 40px;
  width:50%;
  height: 0;
  background-color: #0FC9E7;
  color: white;
  padding: 15px 25px;
  margin: 5px ;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

